player-connection-mode=Connect
player-connection-guid=3834501690
player-connection-debug=0
player-connection-project-name=SuperFede7
player-connection-wait-timeout=-1
player-connection-ip=192.168.0.229
player-connection-ip=25.57.31.115
profiler-enable=1
gfx-enable-gfx-jobs=1
gfx-threading-mode=6
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=3bfc03883cde431cbb9bc3140aed7653
